/* /////////////////////////////////////  ABOUT  /////////////////////////////////////////////// */

.about {
  display: block;
  /* width: 1540px; */
  /* width: 19.22%; */
  width: 100vw;
  height: 100vh;
}

.about-side-img {
  margin-top: -14px;
  margin-left: 50px;
  width: 230px;
  height: 560px;
  background-color: #ec4646;
  position: absolute;
  /* background-image: url("img-on-the-side.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}

.about-maqam-lion {
  width: 550px;
  height: 500px;
  margin-top: 60px;
  margin-left: -150px;
}

.about-text-above-img {
  color: black;
  font-weight: 900;
  letter-spacing: 5px;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 90px;
  margin-left: 56px;
}

.about-img-text {
  color: white;
  margin-left: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 2px;
  padding-left: 3px;
}

#about-span-text {
  font-weight: bold;
}

.about-center {
  margin-left: 200px;
  margin-top: -76px;
}

.about-word {
  position: relative;
  text-align: center;
  color: rgb(133, 133, 133);
  margin-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  bottom: -13px;
  padding-bottom: 13px;
}

.about-paragraph {
  width: 90%;
  line-height: 1.9;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 5px;
  backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 10px;

  position: relative;
}

.about-hr-line {
  position: relative;
  width: 70px;
  border: 4px solid rgb(255, 255, 255);
  border-bottom: 0px;
  top: -10px;
}

.about-sub-header {
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
/* @media (max-width: 1280px) {
  .about-center {
  margin-left: 60px;
  }
  } */

@media (max-width: 600px) {
  .about-side-img {
    display: none;
  }
  .about-text-above-img {
    display: none;
  }
  .about-center {
    margin-left: 20px;
    margin-top: 30px;
  }
  .about-sub-header {
    font-size: 2rem;
    margin-top: 0px;
    color: #fff;
  }
  .about-paragraph {
    margin-left: 0px;
    letter-spacing: 0.8px;
    line-height: 1.6;
  }
  .dropzone {
    top: 24% !important;
    position: absolute;
  }
}
/* navbar */

.navbar {
  position: absolute;
  z-index: 222222;
}

.navbar-nav .nav-item {
  padding-left: 8%;
  font-size: 25px;
}

.navbar-nav .nav-item .nav-link {
  color: black;
  animation: slideUp 1s ease;
}

.navbar-dark .navbar-brand {
  font-size: 8vh;
  color: #65696d;
  position: relative;
  -webkit-text-stroke: 0.3vh #343a40;
  text-transform: uppercase;
  animation: slideDown 1s ease-in-out;
}

.navbar-brand::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: rgb(58, 48, 48);
  -webkit-text-stroke: 0vh #343a40;
  overflow: hidden;
  animation: loader 10s ease-in-out infinite;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  /* width: 0%; */
  position: absolute;
  background-color: black;
}

.nav-link::before {
  width: 0%;
  bottom: 30px;
}

.nav-link-animate::before {
  width: 3%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: black;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: gray;
}

@keyframes loader {
  0%,
  10% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    margin-left: 40%;
  }
}
