/*--------------------
      Header
      --------------------*/

header {
    padding: 30px;
    position: relative;
    height: 70px;
}

header h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #1c222b;
}

header h1 strong {
    background: #f16018;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    padding: 6px;
    font-size: 83%;
    line-height: 1;
    position: relative;
    top: -1px;
    left: 2px;
}

header nav {
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 28px;
    left: 28px;
}

header nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #363a47;
    border-radius: 2px;
    box-shadow: 0 5px 0 #363a47, 0 10px 0 #363a47;
}

header .search {
    position: absolute;
    top: 26px;
    right: 18px;
    cursor: pointer;
}

header .search svg {
    width: 20px;
    height: 20px;
}