
.movie-card-1 img {
    margin-top: 10%;
    width: 30%;
    position: relative;
    left: 53%;
}
.movie-card-2 img {

    margin-top: 20%;
    width: 50%;
    position: relative;
    left: 25%;
}
.movie-card-3 img {
    margin-top: 33%;
    position: relative;
    width: 30%;
    left: 25%;
}
.movie-card-4 img {
    margin-top: 44%;
    position: relative;
    width: 40%;
    left: 54%;
}
.movie-card-5 img {
    margin-top: 20%;
    width: 52%;
    position: relative;
    left: 44%;
}
.movie-card-6 img {
    margin-top: 13%;
    position: relative;
    width: 60%;
}
.movie-card-7 img {
    margin-top: 50%;
    position: relative;
    width: 91%;
}
