
.movie-card-1 img {
    margin-top: 10%;
    width: 27%;
    position: relative;
    left: 55%;
}
.movie-card-2 img {
    margin-top: 20%;
    width: 50%;
    position: relative;
    left: 34%;
}
.movie-card-3 img {
    margin-top: 25%;
    position: relative;
    width: 40%;
    left: 15%;
}
.movie-card-4 img {
    margin-top: 21%;
    position: relative;
    width: 90%;
}
.movie-card-5 img {
    margin-top: 7%;
    width: 45%;
    position: relative;
    left: 45%;
}
.movie-card-6 img {
    margin-top: 13%;
    position: relative;
    width: 60%;
}
.movie-card-7 img {
    margin-top: 54%;
    position: relative;
    width: 88%;
}
